[Unit]
Description=Check Bilibili live room and send Bark alarm
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/ez-alarm/ez-alarm.env
StateDirectory=ez-alarm
StateDirectoryMode=0750
ExecStart=/usr/bin/ez-alarm
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target